@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
        font-family: idroid;
        src: url(../fontes/idroid.otf) format('opentype');
        font-weight: normal;
    }
/* DECLARAÇÃO DE VARIÁVEIS */
    :root{
        --cor1:#2EE64B;
        --cor2:#45CC5A;
        --cor3:#349943;
        --cor4:#2c4f31b2;
        --cor5:#1A4D22;


        --font-padrao: Arial, Verdana, Helvetica, sans-serif;
        --font-destaque: 'Bebas Neue', cursive;
        --font-android: 'idroid';
    }
/* DECLARANDO PADRÕES GLOBAIS */
    *{
        margin: 0px;
        padding: 0px;

    }

                /* BODY */

    body{
        background-color: var(--cor2);
        font-family: var(--font-padrao);
    }

    a.externo::after{
        content: '\00A0\1F517';
    }

                   /* HEADER */

    header{
        background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
        min-height: 125px;
        text-align: center;
        padding-top: 40px;
    }

    header > h1{
        color: white;
        font-family: var(--font-destaque);
        font-size: 3em;
        font-weight: normal;
        text-align: center;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.288);
    }

    header > p{
        font-family: var(--font-padrao);
        font-size: 1.2em;
        color: white;
        max-width: 500px;
        padding-right: 10px;
        padding-bottom: 10px;
        text-align: center;
        margin: auto;
        text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.473);
        padding-bottom: 50px;
    }
    
    nav{
        background-color: var(--cor5);
        padding: 10px;
        box-shadow: 1px 6px 8px rgba(0, 0, 0, 0.452);
    }

    nav > a{
        color: var(--cor1);
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        transition-duration: 0.7s;
    }

    nav > a:hover{
        background-color: var(--cor2);
        color: var(--cor5);

    }

                    /* MAIN */

    main{
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        margin-bottom: 30px;
        padding: 20px;
        background-color: white;
        box-shadow: 0px 0px 10px black;
        border-radius: 0px 0px 5px 5px;
    }

    main img{
        width: 100%;
    }

    main img.pequena{
        display: block;
        margin: auto;
        max-width: 350px;
    }

    main  h1{
        font-family: var(--font-android);
        color: var(--cor5);
        font-weight: normal;
        font-size: 1.8em;
    }

    main h2{
        font-family: var(--font-android);
        color: var(--cor5);
        font-size: 1.4em;
        font-weight: normal;
        background-image: linear-gradient(to right, var(--cor2), transparent);
        text-indent: 8px;
    }

    main p{
        margin: 15px 0px;
        text-align: justify;
        text-indent: 30px;
        font-size: 1em;
        line-height: 1.5em;
    }

    main strong{
        color: darkgreen;
        font-weight: bold;
        padding: 1px 4px;
    }

    main a{
        text-decoration: none;
        font-weight: bold;
        color: var(--cor5);
        background-color: lightgreen;
        padding: 1px 4px;
    }

    main a:hover{
        text-decoration: underline;
        color: var(--cor3);
    }

                /* VIDEO */

div.video{
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.6%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

                /* ASIDE */
    aside{
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 10px;
    }

    aside > h3{
        background-color: var(--cor4);
        color: white;
        padding: 10px;
        margin:-10px -10px 0px -10px;
        border-radius: 10px 10px 0px 0px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
    }

    aside > ul{
        list-style-type: '\1F5F8\00A0\00A0';
        list-style-position: inside;
        columns: 2;
    }
                /* FOOTER */

    footer{
        background-color: var(--cor4);
        color: white;
        font-size: 0.9em;
        text-align: center;
        padding: 5px;
    }

    footer a:hover{
        text-decoration: underline;
        color: var(--cor1);
    }